# ============================================================================
# Caddyfile для node1
# ============================================================================
# Простой пример для CDN ноды на стандартном порту 443
# ============================================================================

https://cdn.example.com:843 {
    root * /srv/static-site
    file_server
}

