# ============================================================================
# Caddyfile для node3
# ============================================================================
# Пример с несколькими доменами на кастомном порту
# ============================================================================

https://cdn-1.example.com:843 {
    tls {
        dns cloudflare {
            api_token {{ cloudflare_api_token }}
        }
    }

    root * /srv/static-site
    file_server
}

https://cdn-2.example.com:843 {
    tls {
        dns cloudflare {
            api_token {{ cloudflare_api_token }}
        }
    }

    root * /srv/static-site
    file_server
}

